body {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 1s ease;
}
#chatbot, #userlist, #chat, label, button, fieldset {
    text-align: initial;
    margin: initial;
    border-color: white;
}
#chat {
    min-height: 10rem;
    max-height: 20rem;
    overflow-x: hidden;
    font-size: larger;
    margin: 1rem 1rem 1rem 8rem;
    padding: 1rem 1rem 0 1rem;
    border: 2px solid;
}
#userlist {
    margin-top: 1rem;
    float: left;
}